@let record =  _mainStore.selectedRecord();

  <div class="flex flex-col p-6 overflow-y-scroll h-screen"
    animate.enter="enter-animation">
    <div class="border-b ">
      <button class="bg-gray-200 hover:cursor-pointer p-1 rounded-md my-2" (click)="_mainStore.clearSelected()">Back</button>
      <h1 class="text-xl font-semibold text-gray-800">
        Record Details
      </h1>
    </div>
    <div class="overflow-x-auto">
      <table class="w-full text-sm">
        <tbody class="divide-y">
          @for (field of _mainStore.recordFields(); track $index) {
            <tr>
            <th class="w-full px-3 py-2 bg-gray-100 text-left font-medium text-gray-600">
              {{field}}
            </th>
            <td class="px-3 py-2 text-gray-800 overflow-hidden whitespace-nowrap text-ellipsis max-w-115">
                @if (field === 'features') {
                  <app-deep-table
                    [nodes]="record[field] | deepObject">
                  </app-deep-table>
                } 
                @else if (field === 'vessels' ) {
                    <span class="caret hover:cursor-pointer" (click)="toggleVessels()">
                      {{ vesselsExpanded ?  '▼' : '▶' }} <span class="font-semibold">Vessels</span>
                    </span>
                  @if (vesselsExpanded) {
                    <ul>
                      @for (item of record[field]; track $index) {
                        <li>{{item}}</li>
                      }
                    </ul>
                  }
                }
                @else {
                  {{ record[field] }}
                }
              </td>
          </tr>
          }
          
        </tbody>
      </table>
    </div>
  </div>